:root {
  --color-primary: #b14c7b;
  --color-primary-dark: #5e2540;

  --color-black: #262626;
  --color-white: #f4f4f4;

  --color-neutral-dark: #a8886e;
  --color-neutral-darker: #f9dac5;
  --color-neutral-lighter: #fdf1eb;

  --color-highlight: #c59db8;
  --color-green: #92b279;

  --font-family-headings: "League Spartan", sans-serif;
  --font-family-primary: "Montserrat", sans-serif;

  --font-size-small: 12px;
  --font-weight-thin: 200;
}

.main-form {
  box-sizing: border-box;
  width: 100%;
  max-width: 900px;
}

.main-form > section {
  background-color: var(--color-neutral-lighter);

  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid var(--color-neutral-darker);
  border-radius: 0.1875rem;

  display: flex;
  align-items: flex-start;
  gap: 10px;
}

.main-form::placeholder {
  color: var(--color-neutral-dark);
  font-family: var(--font-family-primary);
}

.form-icon-box {
  width: 25px;
  padding: 5px 0;

  display: flex;
  justify-content: center;
}

.form-icon-box i {
  color: var(--color-neutral-dark);
  font-size: 1.3rem;
}

.form-inputs-box {
  width: 100%;
}

.main-form input,
.main-form textarea {
  background-color: inherit;
  color: var(--color-black);
  width: 100%;
  padding: 10px 0;
  /* border-radius: 0.1875rem; */
  border: none;

  font-family: var(--font-family-primary);
}

.main-form input:focus,
.main-form textarea:focus {
  background-color: var(--color-neutral-darker);
  outline: none;
  border: 1px solid var(--color-primary);
  border-radius: 0.1875rem;
}

.main-form .btns-section {
  background-color: inherit;
  justify-content: space-between;
}

.main-form > section:last-of-type {
  padding-bottom: 20px;
}
