@media only screen and (min-width: 576px) {
  .game-goals{
    display: block;
  }
}

@media only screen and (min-width: 768px) {
  #hamburger-nav-section {
    display: none;
  }

  .main-nav {
    display: flex;
    position: sticky;
    justify-self: flex-start;
  }

  /* body > header {
    width: 100%;
    display: flex;
    justify-content: space-between;
  } */

  body {
    display: flex;
  }
  body > main {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
  }
}

@media only screen and (min-width: 992px) {
 
}
@media only screen and (min-width: 1200px) {
}
@media only screen and (min-width: 1400px) {
}
