/* General settings */
:root {
  --color-primary: #b14c7b;
  --color-primary-dark: #5e2540;

  --color-black: #262626;
  --color-white: #f4f4f4;

  --color-neutral-dark: #a8886e;
  --color-neutral-darker: #f9dac5;
  --color-neutral-lighter: #fdf1eb;

  --color-highlight: #c59db8;
  --color-green: #92b279;

  --font-family-headings: "League Spartan", sans-serif;
  --font-family-primary: "Montserrat", sans-serif;

  --font-size-small: 12px;
  --font-weight-thin: 200;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  font-family: var(--font-family-primary);
  background-color: var(--color-neutral-darker);
}

ul,
ol {
  list-style-type: none;
}



#hamburger-nav-section {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

#hamburger,
#xmark {
  background-color: inherit;
  border: none;
  font-size: 1.5rem;
}

#hamburger-search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 15px;
}

.search-game {
  display: flex;
  align-items: center;
  gap: 5px;
  justify-self: flex-end;
}

.search-game button {
  background-color: inherit;
  border: none;
  padding: 5px 0;
  font-size: 16px;

  color: var(--color-black);

  display: flex;
  align-items: center;
  justify-content: center;
}

.search-game input {
  padding: 5px;
  max-width: 80%;
}

#hamburger-nav a,
#hamburger-nav i {
  color: var(--color-white);
}

.nav-user {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav-user i {
  font-size: 25px;
}

#hamburger-nav {
  background-color: var(--color-primary-dark);
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  height: 100vh;
  max-width: 100%;

  display: none;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  padding: 10px 15px;
}

.main-nav {
  background-color: var(--color-primary-dark);
  color: var(--color-white);

  width: 250px;
  padding: 15px;

  display: none;
  flex-direction: column;
  justify-content: space-between;

  height: 100vh;
}

#hamburger-nav .main-nav {
  display: flex;
}

.main-nav nav {
  min-height: 50%;
}

.main-nav li {
  padding: 10px 0;
}

.main-nav ul li:hover,
.main-nav ul li:hover a {
  background-color: var(--color-highlight);
  color: var(--color-black);
  cursor: pointer;
}

.main-nav a {
  text-decoration: none;
  color: var(--color-white);
}

.main-nav .logout {
  align-self: flex-end;
}

.main-nav .logout a {
  font-size: 20px;
}


h1{
  text-align: center;
  color: var(--color-primary);
  text-transform: uppercase;

  padding: 5px;
}

.current-html{
  border-bottom: 1px solid var(--color-white);
}